.post {
    display: flex;
    gap: 4px;
    /*height: 2em;*/

    /*height: 34px;*/
    /*background-color: aliceblue;*/
    /*display: flex;*/
    padding: 5px;
    /*gap: 6px;*/
}

.divId{
    flex: 0 0 5%;
}
.divTitle{
    flex: 0 0 30%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*!*white-space: nowrap;*!*/
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
}
.divBody{
    display: flex;
    gap: 1em;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*gap: 6px;*/
}

.bodyText{
    flex: 0 0 80%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}
.button{
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*width: 70px;*/
    /*height: 30px;*/

    /*margin: 0 auto;*/
    /*display: block;*/
}
